.jfx-combo-box .cell {
    -fx-text-fill: #000000; /* change selected text (item) color */
    -fx-background-color:  #cca6bc; /* change background color */
    -fx-border-color:  #cca6bc;

}

.text {
    -fx-font-smoothing-type: black;

}

..text-field {
    -fx-text-fill:  #ffffff;
}