.jfx-combo-box .cell {
    -fx-text-fill: #000000; /* change selected text (item) color */
    -fx-background-color: transparent; /* change background color */
    -fx-border-color:  transparent;

}

.text {
    -fx-font-smoothing-type: gray;

}

.text-field {
    -fx-text-fill:  #ffffff;
}

.time-jfx-combo-box .cell {
    -fx-text-fill: #ffffff; /* change selected text (item) color */
    -fx-background-color: #393939; /* change background color */
    -fx-border-color:  transparent;

}