* {
    -fx-primary : #ffffff;
    -fx-secondary :#c4001d;
    -fx-primarytext : #ffffff;


}

courseTxtF
{
    -fx-text-fill: -fx-primarytext;
    -fx-prompt-text-fill:  #626262;
    -fx-font-size : 14px;
    -jfx-focus-color: #ff616f;
    -jfx-un-focus-color: #c4001d;
    -fx-min-height: 32;
    -fx-min-width: 100;
    -fx-max-height: 32;
    -fx-max-width: 100;
}


.jfx-combo-box .cell {
    -fx-text-fill: #ffffff; /* change selected text (item) color */
    -fx-background-color: #393939; /* change background color */
    -fx-border-color: transparent;

}

.tab{
    -fx-pref-height: 30;
    -fx-pref-width:  300;
    -fx-background-color: #494949;
}

.tab-header-background{
    -fx-background-color: #393939;
}
.tab:selected{
    -fx-background-color: #ff6666;
    -fx-focus-traversable: false;

}
.jfx-tab-pane .tab-selected-line
{
    -fx-border-color: #ff6666;

}
.jfx-tab-pane .tab-selected-line{
    -fx-pref-width: 300;
    -fx-stroke-width: 50pt;
}

/*Style with scroll-bar*/

.scroll-pane {
    -fx-background-color: #393939;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #696969;

}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

/*end scroll bar*/
